script.
	window.canvasOptions = {
		autoClear: true,
		autoCompensate: false,
		autoPushPop: true,
		canvas: true,
		centered: true,
		desynchronized: false,
		width: null,
		height: null,
		drawAndStop: false
	};
	/* requestAnimationFrame */